/* Regular styling for small screens */
.content p img {
    border-radius: 0.75rem;
    width: 100%;
    height: 12rem;
}

@media (min-width: 640px) {
    .content p img {
        height: 18rem; 
    }
}

.active button {
    transform: scale3d(1.05, 1.05, 1);
}

.profile-link.active img {
    border: 2px solid white;
}
